<header class="header primary-color-bg">
    <nav class="navigation container">
        <div class="menu">
            <a href="/admin/" class="link menu-item <%if (linkActive === 'home') {%>  link-active  <%}%>">Naslovnica</a>
            <a href="/admin/stomatolog" class="link menu-item <%if (linkActive === 'dentists') {%>  link-active  <%}%>">Stomatolozi</a>
            <a href="/admin/mjesto" class="link menu-item <%if (linkActive === 'mjesto') {%>  link-active  <%}%>">Mjesta</a>
            <a href="/admin/specijalizacija" class="link menu-item <%if (linkActive === 'specijalizacija') {%>  link-active  <%}%>">Specijalizacije</a>
            <a href="/admin/termin" class="link menu-item <%if (linkActive === 'appointment') {%>  link-active  <%}%>">Termini</a>
            <a href="/admin/tretman" class="link menu-item <%if (linkActive === 'tretman') {%>  link-active  <%}%>">Tretmani</a>
            <a href="/admin/zahvat" class="link menu-item <%if (linkActive === 'zahvat') {%>  link-active  <%}%>">Zahvati</a>
            <a href="/admin/pacijent" class="link menu-item <%if (linkActive === 'pacijent') {%>  link-active  <%}%>">Pacijenti</a>
            <a href="/admin/korisnik" class="link menu-item <%if (linkActive === 'korisnik') {%>  link-active  <%}%>">Korisnici</a>
        </div>
    </nav>
</header>