<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Oib</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Email</td>
            <td>Mjesto</td>
            <td>Password</td>
            <td>Stomatolog</td>
            <td>Pacijent</td>
            <td>isAdmin</td>
        </thead>
        <%for(var k of korisnici){%>
            <tr>
                <td><a class="id-table" href="./korisnik/single/<%=k.oib%>"><%=k.oib%></a></td>
                <td><input id="<%=k.oib%>ime" type="text" value="<%=k.ime%>"/></td>
                <td><input id="<%=k.oib%>prezime" type="text" value="<%=k.prezime%>"/></td>
                <td><input id="<%=k.oib%>email" type="text" value="<%=k.email%>"/></td>
                <td>
                    <select name="mjesta" id="<%=k.oib%>mjesto">
                        <%for(var sp of mjesta){%>
                            <option value="<%=sp.id%>" <%if(sp.id == k.mjesto.id){%>selected="true"<%}%>  ><%=sp.pbrMjesta%>  <%=sp.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td><input id="<%=k.oib%>password" type="text" value="<%=k.password%>"/></td>
                <td>
                    <select name="stomatolozi" id="<%=k.oib%>stomatolog">
                        <%for(var sp of stomatolozi){%>
                            <option value="<%=sp.id%>" <%if(sp.id == k.dentistId){%>selected="true"<%}%>  ><%=sp.id%>  <%=sp.specijalizacija.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td>
                    <select name="pacijenti" id="<%=k.oib%>pacijent">
                        <%for(var sp of pacijenti){%>
                            <option value="<%=sp.id%>" <%if(sp.id == k.pacientId){%>selected="true"<%}%>  ><%=sp.id%> <%=sp.statusZuba%></option>
                        <%}%>
                    </select>
                </td>
                <td><input id="<%=k.oib%>isAdmin" type="text" value="<%=k.isAdmin%>"/></td>
                <td><button onclick="updateItem('<%= k.oib %>')">Update</button></td>
                <td><button onclick="deleteItem('<%= k.oib %>')">Delete</button></td>
            </tr>
        <%}%>
        <tr>
                <td><input id="createoib" type="text" /></td>
                <td><input id="createime" type="text"/></td>
                <td><input id="createprezime" type="text"/></td>
                <td><input id="createemail" type="text"/></td>
                <td>
                    <select name="mjesta" id="createmjesto">
                        <%for(var sp of mjesta){%>
                            <option value="<%=sp.id%>"><%=sp.pbrMjesta%>  <%=sp.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td><input id="createpassword" type="text"/></td>
                <td>
                    <select name="stomatolozi" id="createstomatolog">
                        <%for(var sp of stomatolozi){%>
                            <option value="<%=sp.id%>" ><%=sp.id%>  <%=sp.specijalizacija.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td>
                    <select name="pacijenti" id="createpacijent">
                        <%for(var sp of pacijenti){%>
                            <option value="<%=sp.id%>" ><%=sp.id%> <%=sp.statusZuba%></option>
                        <%}%>
                    </select>
                </td>
                <td><input id="createisAdmin" type="checkbox" /></td>
            <td><button onclick="createItem()">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        console.log(id);
        var ime = document.getElementById(id+"ime").value;
        var prezime = document.getElementById(id+"prezime").value;
        var email = document.getElementById(id+"email").value;
        var password = document.getElementById(id+"password").value;
        var mjesto = document.getElementById(id+"mjesto").value;
        var pacijent = document.getElementById(id+"pacijent").value;
        var stomatolog = document.getElementById(id+"stomatolog").value;
        var isAdmin = document.getElementById(id+"isAdmin").value;
        var data = {
            korisnik:{                
                oib:id,
                ime : ime,
                prezime : prezime,
                email : email,
                password : password,
                mjesto : mjesto,
                pacijent : pacijent,
                stomatolog : stomatolog,
                isAdmin : isAdmin,
            }
        }
        fetch('korisnik/action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./korisnik');
        });
    }
    function deleteItem(id){
        var data = {
            korisnik:{                
                oib:id,
            }
        }
        fetch('korisnik/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./korisnik');
        });
    }
    function createItem(){
        
        var oib = document.getElementById("create"+"oib").value;
        var ime = document.getElementById("create"+"ime").value;
        var prezime = document.getElementById("create"+"prezime").value;
        var email = document.getElementById("create"+"email").value;
        var password = document.getElementById("create"+"password").value;
        var mjesto = document.getElementById("create"+"mjesto").value;
        var pacijent = document.getElementById("create"+"pacijent").value;
        var stomatolog = document.getElementById("create"+"stomatolog").value;
        var isAdmin = document.getElementById("create"+"isAdmin").value;
        var data = {
            korisnik:{                
                oib: oib,
                ime : ime,
                prezime : prezime,
                email : email,
                password : password,
                mjesto : mjesto,
                pacijent : pacijent,
                stomatolog : stomatolog,
                isAdmin : isAdmin,
            }
        }
        fetch('termin/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./termin');
        });
    }
</script>