<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Id</td>
            <td>OIB</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Email</td>
            <td>Password</td>
            <td>Osobna</td>
            <td>Mjesto</td>
            <td>Stomatolog?</td>

        </thead>
        <%for(var r of registracije){%>
            <tr>
                <td><a href="./registracija/<%=r.id%>"><%=r.id%></a></td>
                <td><input disabled="true" id="<%=r.id%>oib" type="text" value="<%=r.oib%>"/></td>
                <td><input disabled="true" id="<%=r.id%>ime" type="text" value="<%=r.ime%>"/></td>
                <td><input disabled="true" id="<%=r.id%>prezime" type="text" value="<%=r.prezime%>"/></td>
                <td><input disabled="true" id="<%=r.id%>email" type="text" value="<%=r.email%>"/></td>
                <td><input disabled="true" id="<%=r.id%>password" type="text" value="<%=r.password%>"/></td>
                <td><img src="<%=r.slikaOsobne%>" alt=""><input disabled="true" id="<%=r.id%>slikaOsobne" type="" value="<%=r.slikaOsobne%>"/></td>
                <td><input disabled="true" id="<%=r.id%>mjesto" type="text" value="<%=r.mjesto.pbrMjesta%> <%=r.mjesto.naziv%>"/></td>
                <td><input disabled="true" id="<%=r.id%>isDentist" type="text" value="<%=r.isDentist%>"/></td>
                <td><button onclick="finish(<%=r.id%>, true)">Accept</button></td>
                <td><button onclick="finish(<%=r.id%>, false)">Reject</button></td>
            </tr>
        <%}%>
    </table>
 </div>

 <script>
    function finish(id, accept){
        var data = {               
            id:id,
            accept:accept
        }
        fetch('./admin/registracija/finish', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./');
        });
    }
</script>