<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Id</td>
            <td>Naziv</td>
        </thead>
        <thead>
            <td><input id="searchid" type="number"></td>
            <td><input id="searchnaziv" type="text"></td>
            <td><button onclick="search()">search</button></td>
        </thead>
        <%for(var s of specijalizacije){%>
            <tr>
                <td><a href="./specijalizacija/single/<%=s.id%>"><%=s.id%></a></td>
                <td><input id="<%=s.id%>naziv" type="text" value="<%=s.naziv%>"/></td>
                <td><button onclick="updateItem(<%=s.id%>)">Update</button></td>
                <td><button onclick="deleteItem(<%=s.id%>)">Delete</button></td>
            </tr>
        <%}%>
        <tr>
            <td></td>
            <td><input id="createnaziv" type="text"/></td>
            <td><button onclick="createItem()">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function search(){
        var id = document.getElementById("search"+"id");
        var naziv = document.getElementById("search"+"naziv");
        var data = {
            id:id.value,
            naziv:naziv.value
        }
        window.location.replace('specijalizacija?search='+JSON.stringify(data));
    }
    function updateItem(id){
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            specijalizacija:{                
                id:id,
                naziv:naziv
            }
        }
        fetch('specijalizacija/action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./specijalizacija');
        });
    }
    function deleteItem(id){
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            specijalizacija:{                
                id:id,
                naziv:naziv
            }
        }
        fetch('specijalizacija/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./specijalizacija');
        });
    }
    function createItem(){
        var naziv = document.getElementById("create"+"naziv");
        var data = {
            specijalizacija:{                
                id:-1,
                naziv:naziv.value
            }
        }
        naziv.value="";
        fetch('specijalizacija/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./specijalizacija');
        });
    }
</script>