<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Serijski broj</td>
            <td>Datum i vrijeme</td>
            <td>Pacijent</td>
            <td>Stomatolog</td>
            <td>Tretman</td>
        </thead>
            <tr>
                <td><%=termin.serijskiBroj%></td>
                <td><input id="<%=termin.serijskiBroj%>datum" type="datetime-local" value="<%=termin.datum.toISOString().slice(0, -1)%>"/></td>
                <td>
                    <select name="pacijenti" id="<%=termin.serijskiBroj%>pacijent">
                        <%for(var sp of pacijenti){%>
                            <option value="<%=sp.id%>" <%if(sp.id == termin.pacijent.id){%>selected="true"<%}%>  ><%=sp.id%> <%=sp.statusZuba%></option>
                        <%}%>
                    </select>
                </td>
                <td>
                    <select name="stomatolozi" id="<%=termin.serijskiBroj%>stomatolog">
                        <%for(var sp of stomatolozi){%>
                            <option value="<%=sp.id%>" <%if(sp.id == termin.stomatolog.id){%>selected="true"<%}%>  ><%=sp.id%>  <%=sp.specijalizacija.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td>
                    <select name="tretmani" id="<%=termin.serijskiBroj%>tretman">
                        <%for(var sp of tretmani){%>
                            <option value="<%=sp.id%>" <%if(sp.id == termin.tretman.id){%>selected="true"<%}%>  ><%=sp.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td><button onclick="updateItem(<%=termin.serijskiBroj%>)">Update</button></td>
                <td><button onclick="deleteItem(<%=termin.serijskiBroj%>)">Delete</button></td>
            </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var datum = document.getElementById(id+"datum").valueAsDate;
        var pacijent = document.getElementById(id+"pacijent").value;
        var stomatolog = document.getElementById(id+"stomatolog").value;
        var tretman = document.getElementById(id+"tretman").value;
        var data = {
            termin:{                
                id:id,
                pacijent:pacijent,
                stomatolog:stomatolog,
                tretman:tretman,
                datum:datum
            }
        }
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./termin');
        });
    }
    function deleteItem(id){
        var data = {
            termin:{                
                id:id,
            }
        }
        fetch('../action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./termin');
        });
    }
</script>