<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Serijski broj</td>
            <td>Datum i vrijeme</td>
            <td>Pacijent</td>
            <td>Stomatolog</td>
            <td>Tretman</td>
        </thead>
        <%for(var t of termini){%>
            <tr>
                <td><a class="id-table" href="./termin/single/<%=t.serijskiBroj%>"><%=t.serijskiBroj%></a></td>
                <td><input id="<%=t.serijskiBroj%>datum" type="datetime-local" value="<%=t.datum.toISOString().slice(0, -1)%>"/></td>
                <td>
                    <select name="pacijenti" id="<%=t.serijskiBroj%>pacijent">
                        <%for(var sp of pacijenti){%>
                            <option value="<%=sp.id%>" <%if(sp.id == t.pacijent.id){%>selected="true"<%}%>  ><%=sp.id%> <%=sp.statusZuba%></option>
                        <%}%>
                    </select>
                </td>
                <td>
                    <select name="stomatolozi" id="<%=t.serijskiBroj%>stomatolog">
                        <%for(var sp of stomatolozi){%>
                            <option value="<%=sp.id%>" <%if(sp.id == t.stomatolog.id){%>selected="true"<%}%>  ><%=sp.id%>  <%=sp.specijalizacija.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td>
                    <select name="tretmani" id="<%=t.serijskiBroj%>tretman">
                        <%for(var sp of tretmani){%>
                            <option value="<%=sp.id%>" <%if(sp.id == t.tretman.id){%>selected="true"<%}%>  ><%=sp.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td><button onclick="updateItem(<%=t.serijskiBroj%>)">Update</button></td>
                <td><button onclick="deleteItem(<%=t.serijskiBroj%>)">Delete</button></td>
            </tr>
        <%}%>
        <tr>
            <td></td>
            <td><input id="createdatum" type="datetime-local" /></td>
            <td>
                <select name="pacijenti" id="createpacijent">
                    <%for(var sp of pacijenti){%>
                        <option value="<%=sp.id%>"  ><%=sp.id%> <%=sp.statusZuba%></option>
                    <%}%>
                </select>
            </td>
            <td>
                <select name="stomatolozi" id="createstomatolog">
                    <%for(var sp of stomatolozi){%>
                        <option value="<%=sp.id%>"   ><%=sp.id%>  <%=sp.specijalizacija.naziv%></option>
                    <%}%>
                </select>
            </td>
            <td>
                <select name="tretmani" id="createtretman">
                    <%for(var sp of tretmani){%>
                        <option value="<%=sp.id%>" ><%=sp.naziv%></option>
                    <%}%>
                </select>
            </td>
            <td><button onclick="createItem()">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var datum = document.getElementById(id+"datum").valueAsDate;
        var pacijent = document.getElementById(id+"pacijent").value;
        var stomatolog = document.getElementById(id+"stomatolog").value;
        var tretman = document.getElementById(id+"tretman").value;
        var data = {
            termin:{                
                id:id,
                pacijent:pacijent,
                stomatolog:stomatolog,
                tretman:tretman,
                datum:datum
            }
        }
        fetch('termin/action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./termin');
        });
    }
    function deleteItem(id){
        var data = {
            termin:{                
                id:id,
            }
        }
        fetch('termin/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./termin');
        });
    }
    function createItem(){
        var datum = document.getElementById("create"+"datum").valueAsDate;
        var pacijent = document.getElementById("create"+"pacijent").value;
        var stomatolog = document.getElementById("create"+"stomatolog").value;
        var tretman = document.getElementById("create"+"tretman").value;
        var data = {
            termin:{                
                id:-1,
                pacijent:pacijent,
                stomatolog:stomatolog,
                tretman:tretman,
                datum:datum
            }
        }
        fetch('termin/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./termin');
        });
    }
</script>