<!DOCTYPE html>
<html>

<head>
    <title>Dr. Zdravozub - Stomatolozi</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
</head>

<body class="content">
    <div class="box">
        <%- include(`partials/header`); %>
        <main class="main">
            <section class="section box-title secondary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <h2 class="font-title">Naši stomatolozi</h2>
                    </div>
                </div>
            </section>
            <section class="section box-content primary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <table>
                            <thead>
                                <td>Ime</td>
                                <td>Prezime</td>
                                <td>Specijalizacija</td>
                            </thead>
                            <% for (var d of dentists) { %>
                                <tr>
                                    <td><%= d.ime %></td>
                                    <td><%= d.prezime %></td>
                                    <td><%= d.specijalizacija.naziv %></td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </section>
        </main>
        <%- include(`partials/footer`); %>
    </div>
</body>
</html>