<!DOCTYPE html>
<html>

<head>
    <title>Dr. Zdravozub - Početna stranica</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
</head>

<body class="content">
    <div class="box">
        <%- include(`partials/header`); %>
        <main class="main">
            <section class="section box-title secondary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        Informacijski sustav za stomatološku polikliniku
                    </div>
                    <div class="centered-container">
                        Informacijski sustavi, 3. zadaća
                    </div>
                </div>
            </section>
            <section class="section box-content primary-color-bg">
                <div class="container">
                    <% if(user === undefined) {%>
                    <div class="centered-container">
                        Prijava potrebna za rezervaciju termina u poliklinici Dr. Zdravozub
                    </div>
                    <div class="centered-container">
                        <a href="/login"><button type="button" class="button-frontpage">
                            Prijava
                        </button></a>
                        <a href="/register"><button type="button" class="button-frontpage">
                            Registracija
                        </button></a>
                    </div>
                    <% } else { %>
                    <div class="centered-container">
                        Trenutno ste prijavljeni u sustav
                    </div>
                    <div class="centered-container">
                        <button type="button" id="logout" class="button-frontpage">
                            Odjava
                        </button>
                    </div>
                    <% } %>
                </div>
            </section>
        </main>
    <%- include(`partials/footer`); %>
    </div>
    <script>
        const logoutButton = document.getElementById("logout");

        if(logoutButton){
            logoutButton.addEventListener("click", (e) => {
                e.preventDefault();
                console.log("odjava");
                fetch('/logout').then(response=>{
                    if(response.status == 200){
                        location.href = '/'
                    }
                })
            });
        }
    </script>
</body>
</html>