<!DOCTYPE html>
<html>

<head>
    <title>Dr. Zdravozub - Pregled prethodnih zahvata</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
</head>

<body class="content">
    <%- include(`partials/header`); %>
    <main class="main">
        <main class="main">
            <section class="section box-title secondary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <h2 class="font-title">Pregled prethodnih zahvata u našoj poliklinici</h2>
                    </div>
                </div>
            </section>
            <section class="section box-content primary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        
                    </div>
                </div>
            </section>
        </main>
    </main>
    <%- include(`partials/footer`); %>
</body>
</html>