<!DOCTYPE html>
<html>

<head>
    <title>Dr. Zdravozub - Prijava</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
</head>

<body class="content">
    <div class="box">
        <%- include(`partials/header`); %>
        <main class="main">
            <section class="section box-title secondary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <h2 class="font-title">Prijava</h2>
                    </div>
                </div>
            </section>
            <section class="section box-content primary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <div id="login-error-msg-holder">
                            <p id="login-error-msg">Netočan mail i/ili lozinka</p>
                        </div>
                    </div>
                    <div class="centered-container">
                        <form id="login-form">
                            <input type="text" name="mail" id="mail-field" class="login-form-field" placeholder="Korisnički mail">
                            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Lozinka">
                            <div class="centered-container">
                                <input type="submit" value="Prijavi se (ostali korisnici)" id="login-form-submit">
                            </div>
                            <div class="centered-container">
                                <input type="submit" value="Prijavi se (stomatolog)" id="login-dentist-form-submit">
                            </div>
                          </form>
                    </div>
                </div>
            </section>
        </main>
    <%- include(`partials/footer`); %>
    </div>
    <script>
        const loginForm = document.getElementById("login-form");
        const loginButton = document.getElementById("login-form-submit");
        const loginDentButton = document.getElementById("login-dentist-form-submit");
        const loginErrorMsg = document.getElementById("login-error-msg");
    
        loginButton.addEventListener("click", async (e) => {
            e.preventDefault();
            const mail = loginForm.mail.value;
            const password = loginForm.password.value;
    
            const data = {
                mail:mail, 
                password:password,
                isDentist:false
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };
            var resp = await fetch('/login', options)
            var body = await resp.json()
            if(resp.ok){
                if(body.isAdmin){
                    location.href = '/admin'
                } else {
                    location.href = '/'
                }
            } else {
                loginErrorMsg.style.opacity = 1;
            }
            
        });
        loginDentButton.addEventListener("click", async (e) => {
            e.preventDefault();
            const mail = loginForm.mail.value;
            const password = loginForm.password.value;
    
            const data = {
                mail:mail, 
                password:password,
                isDentist:true
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };
            var resp = await fetch('/login', options)
            var body = await resp.json()
            if(resp.ok){
                location.href = '/'
            } else {
                loginErrorMsg.style.opacity = 1;
            }
        })
    </script>
</body>
</html>