<!DOCTYPE html>
<html>

<head>
    <title>Dr. Zdravozub - Registracija</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
</head>

<body class="content">
    <div class="box">
        <%- include(`partials/header`); %>
        <main class="main">
            <section class="section box-title secondary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <h2 class="font-title">Registracija pacijenta</h2>
                    </div>
                </div>
            </section>
            <section class="section box-content primary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <div id="login-error-msg-holder">
                            <p id="login-error-msg"></p>
                        </div>
                    </div>
                    <div class="centered-container">
                        <form id="login-form">
                            <input type="number" name="oib" id="oib-field" class="login-form-field" placeholder="OIB">
                            <input type="text" name="name" id="name-field" class="login-form-field" placeholder="Ime">
                            <input type="text" name="surname" id="surname-field" class="login-form-field" placeholder="Prezime">
                            <select name="place" id="place-field">
                                <%for(var m of mjesta){%>
                                    <option value="<%=m.id%>"><%=m.pbrMjesta%> <%=m.naziv%></option>
                                <%}%>
                            </select>
                            <input type="email" name="mail" id="mail-field" class="login-form-field" placeholder="Korisnički mail">
                            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Lozinka">
                            <p>Slika osobne iskaznice:</p>
                            <input type="file" name="idcard" id="id-field" accept="image/png, image/jpeg" class="login-form-file">
                            <input type="submit" value="Registracija" id="login-form-submit">
                          </form>
                    </div>
                </div>
            </section>
        </main>
    <%- include(`partials/footer`); %>
    </div>
    <script>
        const loginForm = document.getElementById("login-form");
        const loginButton = document.getElementById("login-form-submit");
        var loginErrorMsg = document.getElementById("login-error-msg");
    
        loginButton.addEventListener("click", (e) => {
            e.preventDefault();
            var input = document.querySelector('input[type="file"]');
            const mail = loginForm.mail.value;
            const password = loginForm.password.value;
            const name = loginForm.name.value;
            const surname = loginForm.surname.value;
            const place = loginForm.place.value;
            const oib = loginForm.oib.value;
            var reader = new FileReader();
            var output = input.files[0];
            console.log(output);
            var image = new Image();
            var data = {
                oib: oib,
                mail: mail,
                password: password,
                name:name,
                surname:surname,
                place:place,
                idcard: ''
            }
            if(output){
                reader.readAsDataURL(output);
                reader.onload = function (ev){
                    image.id = "pic";
                    image.src = reader.result;    
                    console.log(image);
                    data = {
                        oib: oib,
                        mail: mail,
                        password: password,
                        name:name,
                        surname:surname,
                        place:place,
                        idcard: image.src
                    }
                    register(data);
                }
            }else{
                register(data);
            }
            //console.log(input);
        })

        function register(data){
            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if(response.status == 200) location.href = '/';
                return response.json()
            })
            .then(data => {
                console.log(data);
                loginErrorMsg.innerText=data.error;
                loginErrorMsg.style.opacity=1;
            });
        }
    </script>
</body>
</html>