<!DOCTYPE html>
<html>

<head>
    <title>Dr. Zdravozub - Termini</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
</head>

<body class="content">
    <div class="box">
        <%- include(`partials/header`); %>
        <main class="main">
            <section class="section box-title secondary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <h2 class="font-title">Pregled termina</h2>
                    </div>
                </div>
            </section>
            <section class="section box-content primary-color-bg">
                <% if(user !== undefined) {%>
                    <div class="container">
                        <div class="centered-container">
                            <div id="login-error-msg-holder">
                                <p id="login-error-msg">Greška pri odabiru termina zahvata</p>
                            </div>
                        </div>
                        <div class="centered-container">
                            <form id="login-form">
                                <input type="hidden" id="custId" name="custId" value="<%=user.id %>">
                                <div class="centered-container">
                                <p>Stomatolog: </p>
                                    <select name="dentists" id="dentist">
                                        <%for(var d of dentists){%>
                                            <option value="<%=d.id%>"><%=d.ime%> <%=d.prezime%></option>
                                        <%}%>
                                    </select>
                                </div>
                                <div class="centered-container">
                                    <p>Zahvat: </p>
                                    <select name="treatments" id="treatment">
                                        <%for(var t of treatments){%>
                                            <option value="<%=t.id%>"><%=t.naziv%></option>
                                        <%}%>
                                    </select>
                                </div>
                                <div class="centered-container">
                                    <p>Datum i vrijeme: </p>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type="datetime" class="form-control" id='datetimepick'/>
                                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="centered-container">
                                    <button type="button" id="req">
                                        Podnesi zahtjev
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="container"> <div class="vl"></div> </div>
                    <div class="container">
                        <div class="centered-container">
                            <table>
                                <thead>
                                    <td>Tretman</td>
                                    <td>Stomatolog</td>
                                    <td>Specijalizacija</td>
                                    <td>Datum i vrijeme</td>
                                </thead>
                                <% for (var a of appointments) { %>
                                    <tr>
                                        <td><%= a.tretman.naziv + " " + a.tretman.cijena +" kn"  %></td>
                                        <td><%= a.stomatolog.ime + " " + a.stomatolog.prezime %></td>
                                        <td><%= a.tretman.naziv %></td>
                                        <td><%= a.datum %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                    </div>
                <% } else { %>
                    <div class="container">
                        <div class="centered-container">
                            <p>Korisnik nije prijavljen</p>
                        </div>
                    </div>
                <% } %>
            </section>
        </main>
        <%- include(`partials/footer`); %>
    </div>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        var loginErrorMsg = document.getElementById("login-error-msg");
        const loginForm = document.getElementById("login-form");
        const button = document.getElementById("req");

        if(button){
            button.addEventListener("click", (e) => {
                var datum = document.getElementById("datetimepick").value;
                var pacijent = document.getElementById("custId").value;
                var stomatolog = document.getElementById("dentist").value;
                var tretman = document.getElementById("treatment").value;
                console.log(document.getElementById("datetimepick"));
                e.preventDefault();
                var data = {
                    termin : {
                        datetime: datum,
                        dentistId: stomatolog,
                        treatmentId: tretman
                    }
                }
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }
                fetch('/schedule', options).then(res=>{
                    window.location.replace('./schedule');
                });
                

            });
        }
    </script>
</body>
</html>